@page
@model CS4760_Project.Pages.Reports.CreateModel
@{
}

<h1>Create Report</h1>

<div class="container mt-4">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label asp-for="Report.ProjectDirector" class="form-label"></label>
            <input asp-for="Report.ProjectDirector" class="form-control" readonly value="@Model.Department.DepartmentChair" />
            <span asp-validation-for="Report.ProjectDirector" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.ProjectTitle" class="form-label"></label>
            <input asp-for="Report.ProjectTitle" class="form-control" readonly value="@Model.Grant.GrantTitle" />
            <span asp-validation-for="Report.ProjectTitle" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.OtherParticipants" class="form-label"></label>
            <textarea asp-for="Report.OtherParticipants" class="form-control"></textarea>
            <span asp-validation-for="Report.OtherParticipants" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.AwardDate" class="form-label"></label>
            <input asp-for="Report.AwardDate"
                   class="form-control"
                   type="date"
                   value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Report.AwardDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.CompletionDate" class="form-label"></label>
            <input asp-for="Report.CompletionDate"
                   class="form-control"
                   readonly
                   value="@Model.Grant.EndDate.ToString("yyyy-MM-dd")"
                   type="date" />
            <span asp-validation-for="Report.CompletionDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.RSPGAmount" class="form-label"></label>
            <input asp-for="Report.RSPGAmount" class="form-control" readonly value="@Model.Grant.RSPGAmount" />
            <span asp-validation-for="Report.RSPGAmount" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.ProposalType" class="form-label"></label>
            <input asp-for="Report.ProposalType" class="form-control" readonly value="@Model.Grant.GrantProgram"/>
            <span asp-validation-for="Report.ProposalType" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.ProjectPurpose" class="form-label"></label>
            <textarea asp-for="Report.ProjectPurpose" class="form-control"></textarea>
            <span asp-validation-for="Report.ProjectPurpose" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.ProjectOutcomes" class="form-label"></label>
            <textarea asp-for="Report.ProjectOutcomes" class="form-control"></textarea>
            <span asp-validation-for="Report.ProjectOutcomes" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Report.EvaluationDisseminationOutcomes" class="form-label"></label>
            <textarea asp-for="Report.EvaluationDisseminationOutcomes" class="form-control"></textarea>
            <span asp-validation-for="Report.EvaluationDisseminationOutcomes" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="UploadedFile" class="form-label">File Upload: </label>
            <input asp-for="UploadedFile" class="form-control" type="file" id="fileInput1" accept=".pdf, .txt, .docx" />
        </div>

        <input type="hidden" name="id" value="@Model.Grant.GrantID" />

        <button type="submit" class="btn purpleButton">Create</button>
        <a asp-page="/Home" class="btn button">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}